body {
  margin: 0;
  background-image: linear-gradient(-35deg, #000 0%, #353935 100%);
  background-attachment: fixed;
  min-height: 100vh;
}

body::after {
  background: url("./assets/fond.png");
  content: "";
  position: fixed;
  opacity: 0.6;
  z-index: -1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Works for Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.rsm-svg > g > rect {
  stroke: transparent;
}

/*Animation*/
@keyframes l3 {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}
